.git
.gitignore
.env
.env.*
certificate*.key
certificate*.crt
*.pem
*.pfx
*.apk
*.aab
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.idea
**/.expo
**/node_modules
frontend/_expo
frontend/index.html
frontend/metadata.json
frontend/android
backend/backend_test.db
